/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;} */
/*--------------------*/

body {
  font-family: Inter, Arial, sans-serif;
  background: #ffffff;
}

.testimonials {
  padding: 80px 20px;
}

.testimonials h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 48px;
}

.swiper {
  max-width: 1440px;
  max-height: 990px;
  margin: 0 auto;
}

.swiper-slide {
  height: auto;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  height: 100%;
  position: relative;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  background-color: #f3f3f3;
  padding: 25px; 20px; 
}

.card-header h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.card-header span {
  font-size: 14px;
  color: #777;
}

.card-header img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: cover;
  background: #e0e0e0;
  flex-shrink: 0;
}

.stars {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  
  background: #fff;
  padding: 6px 14px;
  border-radius: 12px;

  font-size: 14px;
  color: #f4c150;

  z-index: 2;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  text-align: center;
}

.card-body {
  padding: 32px 24px 24px;
}

.card-body p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 4px !important;
  border-radius: 4px !important;
  background: #cfeff2 !important;
  opacity: 1 !important;
  margin: 0 6px !important;
  transform: none !important;
}

.swiper-pagination-bullet-active {
  background: #17bebb !important;
}

@media (max-width: 768px) {
  .testimonials h1 {
    font-size: 28px;
  }
}