/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;} */
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* общие стили */

body {
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}
a {
    color: #fff;

}
img {
    max-width: 100%;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 1rem;

    background: #f6762c;
    border-radius: 5px;

    width: 165px;
    height: 50px;

    transition: 0.6s;
}

.btn--small {
    width: 140px;
    height: 40px;
    font-size: 12px;
}

.btn:hover {
    opacity: 0.7;
}
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
h1,h2,h3,h4,h5,,h6 {
    font-weight: 500;
}


/* шапка */

.header {
    /* padding: 25px 0px 50px 0 px; */
    padding: 25px 0px;

}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

}
.nav {
    
}
.header_list {
    display: flex;
    gap: 2rem;
}
.nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: 0.5s;
}
.nav a:hover {
    opacity: 0.9;
}
.nav a.active {
    opacity: 1;
}

.main {

}

/* Welcome */

.welcome {
    margin-top: -100px;
    background-image: url("../images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 240px 0;
}
.welcome_subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.welcome_title {
    font-size: 58px;
    line-height: 67px;
}
.welcome_text {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}
.welcome_container2{
    max-width: 550px;

}

/* Список еды */


.food_list {
    padding: 100px 0;
}

.food_list .container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.food_list_card {
    width: 260px;
    background: #312f30;
    border-radius: 10px;
    overflow: hidden;
}

.food_list_img {
    width: 260px;
    height: 175px;
    object-fit: cover;

}

.food_text_container {
    padding: 20px 15px;
}

.food_list_title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 13px;
}

.food_list_text {
font-weight: 400;
font-size: 16px;
text-align: center;
opacity: 0.7;
}

/* Order */


.order {
    background: #312f30;
    padding: 60px 0;
}

.order_burger {
    max-width: 470px;
}

.order_text_container {
    margin-right: 100px;
    max-width: 370px;
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_title {
    font-size: 44px;
    margin-bottom: 25px;
}

.order_text {
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 15px;
}

.order_price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.order_old_price {
    margin-left: 4px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: #f6762c;
    opacity: 0.5;
}

.order .btn {
    margin-top: 10px;
}

/* Product */

.product {
    padding: 150px 0;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product_card {
    max-width: 555px;
    height: 300px;
    padding: 60px 30px 60px 290px;
    background-color: #322e30;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product_card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}

.product_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.product_text {
    opacity: 0.7;
    margin-bottom: 10px;
}

.product_price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.product_old_price {
    margin-left: 4px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: #f6762c;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.card_queen {
    background-image: url(../images/product-1.jpg);
}

.card_hut {
    background-image: url(../images/product-2.jpg);
}
.card_king {
    background-image: url(../images/product-3.jpg);
}

.card_papa {
    background-image: url(../images/product-4.jpg);
}

/* Feedback */

.feedback {
    padding-bottom: 200px;
}

.feedback .container  {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 850px;
}

.img_feedback {

}

.feedback_text_container {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.feedback_text_container::before {
    content: url(../images/icons/quote.svg);
}

.feedback_text{
    opacity: 0.7;
    margin: 30px 0;
    max-width: 370px;
}

.feedback_author {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 3px;
}

.feedback_amirican {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;
    display: block;
}

/* Download */

.download {
    background: #312f30;
    padding: 60px 0;
}

.download .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download_text {
    font-weight: 500;
    font-size: 40px;
}

/* Feedback */


.footer {
    padding: 130px 0;
}

.footer a {
    font-size: 12px;
    opacity: 0.8;
}

.footer a:hover {
    opacity: 0.9;
    transition: 0.3s;
}

.footer .footer_title {
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    margin-bottom: 15px;
    display: inline-block;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


.footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.footer_logo {
    margin-bottom: 20px;
    width: 70px;
}

.footer_link + .footer_link {
    margin-top: 10px;
}

.footer_link::before {
    margin-right: 10px;
}

.footer_link_mail::before {
    content: url("../images/icons/mail.svg");
}

.footer_link_web::before {
    content: url("../images/icons/global.svg");
}

.footer_nav {
    
}

.footer_nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_nav_title {
    
}

.footer_inner_list {

}

.footer_list_menu + .footer_list_menu{
margin-top: 10px;
}

.footer_socials {
}

.footer_socials_icons {

}

.footer_social_link {
    opacity: 1 !important;
    margin-left: 7px;
}

.footer_social_link +.footer_social_link {
margin-left: 7px;
}

@media (min-width: 1920px ) {
    .welcome{
        padding-top: 400px;
        padding-bottom: 400px;
    }
}

@media (max-width: 1100px) {
    .welcome_text {
        opacity: 1;
    }

     .welcome_container2 {
        padding: 0px 20px;
    }
}

@media (max-width: 950px) {
    .order .container {
        flex-direction: column;
        width: 100%;
    }

    .order_text_container {
        text-align: center;
        padding-left: 100px;
    }

    .order .btn {
        margin-left: auto;
        margin-right: auto;
    }

    
}

@media (max-width: 850px) {
    .footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "menu menu" "contacts socials";
        justify-items: center;
        gap: 40px 150px;
    }

    .footer_contacts{
        grid-area: contacts;
        justify-self: end;
    }

    .footer_nav{
        grid-area: menu;
    }

    .footer_socials {
        grid-area: socials;
        align-self: center;
        justify-self: start;
    }

    .footer_nav_list {
        gap: 80px;
    }

    .feedback {
       padding-bottom: 100px;
    }

    .footer {
        padding: 50px 0;
    }
}

@media (max-width: 750px) {
     .img_feedback {
        width: 250px;
    }

}



@media (max-width: 650px) {
    .header_list {
        margin-right: 50px;
    }

    .header .btn {
        display: none;
    }

    .feedback_text_container {

    }

    .download_text {
        font-size: 30px;
    }

    .welcome_title {
        font-size: 40px;
    }

    .welcome_text {
        margin: 20px 0;
    }
    
    .welcome {
        padding: 150px 0 100px;
    }

    .product {
        padding: 60px 0;
    }
    
    .product .container {
        padding-right: 50px;
        padding-left: 50px;
    }

}

@media (max-width: 500px) {
   .header .container {
        flex-direction: column;
        gap: 10px;
   }

   .header_list {
       flex-wrap: wrap;
       justify-content: space-evenly;
    }

    .download .container {
        flex-direction: column;
        gap: 20px;
    }

    .footer_nav_list {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer_contacts {
        padding-bottom: 40px;
        align-items: center;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .footer_socials {
        padding-top: 40px;
    }
    
    
    .feedback, .product, .welcome {
        padding-bottom: 30px;
    }

    .footer .footer_title {
        margin-bottom: 10px;
    }

    .feedback_author {
        font-size: 18px;
    }

    .feedback_text {
        margin: 20px 0;
        font-size: 14px;
    }

    .welcome_container2 {
        padding: 0px 20px;
    }

    .header_list {
      padding-left: 30px;
    }
}

@media (max-width: 450px) {
    header .container {
    
    }
    
    .welcome {
        margin-top: -200px;
        padding-top: 280px;
    }

    .welcome_text {
        font-size: 12px;
    }
    .welcome_title {
        font-size: 30px;
    }

    .welcome_subtitle {

    }

    .food_list {
        padding: 50px 0px;
    }

    .order_title {
        font-size: 24px;
    }

    .order_burger {
        max-width: 350px;
    }

    .product_card{
        width: auto;
    }
    .feedback .container {
        flex-direction: column;
    }
    
    .product_card:nth-child(even) {
        width: auto;
        padding-right: 200px;
    }

    .product_card:nth-child(1) {
        padding-left: 200px;
    }
    
    .product_card:nth-child(3) {
        padding-left: 200px;
    }

}